<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Cart | Purnasatwa</title>

<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="top-header">

<p>🚚 Free Shipping On Orders Above ₹999</p>

</div>

<header>

<div class="logo">

<h2>PURNASATWA</h2>

</div>

<nav>

<ul>

<li><a href="index.html">Home</a></li>

<li><a href="about.html">About</a></li>

<li><a href="products.html">Products</a></li>

<li><a href="recipe.html">Recipes</a></li>

<li><a href="subscriptions.html">Subscriptions</a></li>

<li><a href="contact.html">Contact</a></li>

<li><a href="cart.html" class="active"><i class="fa-solid fa-cart-shopping"></i></a></li>

</ul>

</nav>

<a href="login.html" class="login-btn">

Login

</a>

</header>

<section class="products">

<h2>Shopping Cart</h2>

<div class="product-container" id="cart-container">

</div>

<div style="text-align:center;margin-top:40px;">

<h2>Total : <span id="cart-total">₹0</span></h2>

<br>

<a href="checkout.html" class="checkout-btn">
    Proceed To Checkout
</a>

</div>

</section>

<footer>

<div class="footer-content">

<div>

<h3>Purnasatwa</h3>

<p>100% Pure Dairy Products.</p>

</div>

<div>

<h3>Quick Links</h3>

<a href="index.html">Home</a>

<a href="about.html">About</a>

<a href="products.html">Products</a>

<a href="recipe.html">Recipes</a>

<a href="subscriptions.html">Subscriptions</a>

<a href="contact.html">Contact</a>

<a href="admin.html">Admin</a>

</div>

<div>

<h3>Contact</h3>

<p>+91 9876543210</p>

<p>info@purnasatwa.com</p>

</div>

</div>

<div class="footer-bottom">

<p>© 2026 Purnasatwa. All Rights Reserved.</p>

</div>

</footer>

<script src="script.js"></script>

</body>

</html>